@use "../../custom" as *;
@use "../../components/mixins" as *;

.editFaq {

    .label {
        font-size: 2rem;
        outline: none;
    }

    .field {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .input {
        width: 100%;
        padding: 1rem;
        border-radius: 10px;

        &:focus {
            outline: none;
        }
    }

    .button {
        background-color: $secondary;
        border-radius: 5px;
        padding: 0.4rem 0.6rem;
        margin-top: 1rem;

        &:hover {
            background-color: $primary;
            color: white;
        }
    }
}
