@use '../custom' as *;

.blog {

    .heading-line {
        padding-bottom: 2rem;
    }

    padding-bottom: 5rem;

    p.blogpost {

            font-size: 1.2rem;
            font-weight: 400;

            @include media-breakpoint-up(lg) {
                font-size: 1.4rem;
            }
        
    }
}