@use "../custom" as *;
@use "../components/mixins" as *;

.downloads {
  @include gradient;

  p.lead {
    padding-bottom: 2rem;
    color: white;
  }

  .table-responsive {
    background-color: white;
    border-radius: 15px;
  }

  h1 {
    color: white;
  }
}
