@use "../custom" as *;
@use "../components/mixins" as *;

.menu {
  @include gradient;
  li {
    padding: 0 0.7rem;

    a {
      color: $primary;
      padding: 0 0.7rem;
      text-transform: capitalize;
      font-weight: 600;

      img {
        @include media-breakpoint-down(sm) {
          display: none;
        }
        margin: -30px;

      }
    }
    &:hover {
      color: $white;
    }
  }
}
