@use '../../custom' as *;
@use '../../components/mixins' as *;

.singleBlogpost {

    .timestamp {
        margin: 0;
        padding: 0;
        color: $gray-500;
    }

    .postContent {
        font-size: 1rem;
        word-break: break-word;
        margin-top: 3rem;
    }
}
